
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

@import "tailwindcss";
*{
    font-family: "Rethink Sans", sans-serif;
}

button{
    @apply cursor-pointer;

}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.cl-drawerRoot{
    z-index:100;
}